/* Application Template
 * -----------------------------------------------------------------------------
 * Styling for the structure of the site. If your element doesn't show up on
 * every page, it probably shouldn't be in this file.
 * -----------------------------------------------------------------------------*/

/* Things to place in separate files...
 * ---------------------------------------------------------------------------
 * /extends/         => Sass extends declarations
 * /mixins/          => Sass mixins declarations
 * _buttons.scss
 * _fonts.scss       => Font imports
 * _forms.scss
 * _lists.scss
 * _library.scss     => Custom classes used throughout the app.
 * _tables.scss
 * _typography.scss
 * _utilities.scss
 * _variables.scss
 * _module_name.scss => Styles for a module of functionality (e.g. – modal).
 * _page_name.scss   => Styles for page specific elements.
 * ---------------------------------------------------------------------------
 */

html, body, article, ul, dl, dt, dd {
  border: 0;
  display: block;
  font: inherit;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  color: #111;
  font-family: 'Crimson Text', Georgia, serif;
  font-size: 1.6rem;
  line-height: 1.625;
}

a, a:visited {
  color: #336699;
}

article {
  margin: 3em 4em;
}

ul {
  list-style-type: circle;
}

dd {
  -webkit-margin-start: 0;
}

hr {
  border: 0;
  border-top: 1px solid #ddd;
  height: 0;
}

.bidi {
  direction: rtl;
  unicode-bidi: bidi-override;
  text-align: left;
}

@media screen and (min-width: 800px) {
  html {
    font-size: 100%;
  }
}

@media screen and (min-width: 800px) and (-webkit-max-device-pixel-ratio: 1.5), (max-device-pixel-ratio: 1.5) {
  html {
    font-size: 62.5%;
  }

  article {
    width: 40%;
  }
}
